<% provide(:title, "About") %>

<div class="row">
	<div class="col-sm-9 col-md-8">
		<div class="panel panel-primary">
			<div class="panel-heading">About Me</div>
			<div class="panel-body">Bio stuff</div>
		</div>
	</div>
	<div class="col-sm-4 col-md-4">
		Do something here.
	</div>
</div>