<% provide(:title, "About") %>

<div>This is new stuff</div>
<div class="homeArticlesData"></div>


<div class="row">
	<div class="col-sm-8 col-md-7">
		<div class="panel panel-primary">
			<div class="panel-heading">About Me</div>
			<div class="panel-body">
				<h1>Hello! My name is Larissa Tater, and I'm a practicing back-end software developer.</h1>
				<hr>
				<p>I have <span class="about-bold">six years of experience</span> in the tech industry, and I've loved every second of it. During that time, my roles have been consultative, with spurts of coding: 
					<ul>
						<li>building emails and web pages</li>
						<li>helping with customer support</li>
						<li>explaining technical concepts to non-technical people</li>
						<li>assisting data analysts with SQL scripts</li>
						<li>and helping clients build out software platforms that scale with growing teams</li>
					</ul>
				</p>
				<p>My excitement during these spurts of learning prompted me to take a <span class="about-bold">three-month Web Development Immersive class</span> with General Assembly, and I loved every second of that, too.</p>
				<p>When I say that I'm a <span class="about-bold">back-end software developer</span>, I really just mean that I prefer back-end. <span class="about-bold">I can do both!</span> But I'm terrible at design. Don't ask my opinion about design. I can barely color-coordinate my clothes.</p>
			</div>
		</div>
	</div>
	<div class="col-sm-5 col-md-5">
		<div class="panel panel-primary">
			<div class="panel-heading">Stuff You Probably Want to Know</div>
			<div class="panel-body">
				<p>People that know me say that I'm a <span class="about-bold">problem-solver</span>, very <span class="about-bold">client-focused</span>, and <span class="about-bold">not crazy</span>.</p>
				<hr>
				<p>I'm passionate about <span class="about-bold">data</span> - more importantly, making data <span class="about-bold">actionable</span> and <span class="about-bold">understandable</span>.</p>
				<hr>
				<p>I love <span class="about-bold">building</span>. Speaking of building: I'm restoring a house from the 1800s. By myself.</p>
				<hr>
				<p>I have some <span class="about-bold">really awesome ideas</span> about building an app that <span class="about-bold">changes the way that we consume news</span> (no, it's not social, but it is <span class="about-bold">data-related</span>), and I hope that it <span class="about-bold">revolutionizes journalism</span>.</p>
				<hr>
				<p>I have another really awesome idea that will help consumers <span class="about-bold">waste less food</span>. It sounds a lot easier than the news app, but I plan to create both.<p>
			</div>
		</div>
	</div>
</div>