<% provide(:title, "Contact") %>

<!-- open sidenav partial div -->
	<!-- open sidenav partial div -->
		<!-- open sidenav partial div -->
			<!-- sidenav partial unordered list -->
		<!-- close sidenav partial div -->
	<!-- open sidenav partial div for whitespace -->
		<div class="col-sm-9 col-md-10 main">
			<h1 class="page-header"><%= yield(:title) %></h1>
			<div class="col-sm-3 col-md-3">
				<div class="panel panel-primary">
					<div class="panel-heading">Email</div>
					<div class="panel-body">larissa.tater@gmail.com</div>
				</div>
			</div>
			<div class="col-sm-3 col-md-3">
				<div class="panel panel-primary">
					<div class="panel-heading">Website</div>
					<div class="panel-body">ltater.com</div>
				</div>
			</div>
			<div class="col-sm-3 col-md-3">
				<div class="panel panel-primary">
					<div class="panel-heading">LinkedIn</div>
					<div class="panel-body">linkedin.com/in/ltater</div>
				</div>
			</div>
			<div class="col-sm-3 col-md-3">
				<div class="panel panel-primary">
					<div class="panel-heading">GitHub</div>
					<div class="panel-body">github.com/ltater</div>
				</div>
			</div>
		</div>
	</div> <!-- do not delete: close sidenav partial div for whitespace -->
</div> <!-- do not delete: close sidenav partial div -->