<% provide(:title, "Dashboard") %>

<!-- open sidenav partial div -->
	<!-- open sidenav partial div -->
		<!-- open sidenav partial div -->
			<!-- sidenav partial unordered list -->
		<!-- close sidenav partial div -->
	<!-- open sidenav partial div for whitespace -->
		<!-- open sidenav partial div for main space page header -->
			<!-- open sidenav partial h1 for main space page header -->
			<div class="col-sm-6 col-md-6" id="personal-projects">
				<div>
					<%= render 'projects/mash' %>
					<%= render 'projects/chat' %>
				</div>
			</div>

			<div class="col-sm-6 col-md-8" id="resume">
				<p>This is where the resume chart goes</p>
			</div>

			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="col-sm-9 col-md-10" id="travel-map">
						<p>This is where the travel map goes</p>
					</div>
					<div class="col-sm-3 col-md-2" id="travel-description">
						<p>This is where the travel description goes</p>
					</div>
				</div>
			</div>
		</div> <!-- do not delete: closes sidenav partial div for main space header -->
	</div> <!-- do not delete: close sidenav partial div for whitespace -->
</div> <!-- do not delete: close sidenav partial div -->