<% provide(:title, "Dashboard") %>

<!-- open sidenav partial div -->
	<!-- open sidenav partial div -->
		<!-- open sidenav partial div -->
			<!-- sidenav partial unordered list -->
		<!-- close sidenav partial div -->
	<!-- open sidenav partial div for whitespace -->
		<div class="col-sm-9 col-md-10 main">
			<h1 class="page-header"><%= yield(:title) %></h1>
			<div class="col-sm-6 col-md-4" id="personal-projects">
				<div class="thumbnail">
					<p>MASH App</p>
					<p>The childhood game of yore.</p>
					<p><a href="https://github.com/atxdubya/MASH.app" class="btn btn-primary" role="button" target="_blank">View on GitHub</a></p>
				</div>
				<div class="thumbnail">
					<p>Chat App</p>
					<p>Chat with your friends!</p>
					<p><a href="https://github.com/ltater/chat-app-v4" class="btn btn-primary" role="button" target="_blank">View on GitHub</a></p>
				</div>
				<div class="thumbnail">
					<p>Tinder for Dogs</p>
					<p>Because all creatures need love</p>
					<p><a href="#" class="btn btn-primary" role="button" target="_blank">View on GitHub</a></p>
				</div>
			</div>

			<div class="col-sm-6 col-md-8" id="resume">
				<p>This is where the resume chart goes</p>
			</div>

			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="col-sm-9 col-md-10" id="travel-map">
						<p>This is where the travel map goes</p>
					</div>
					<div class="col-sm-3 col-md-2" id="travel-description">
						<p>This is where the travel description goes</p>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- do not delete: close sidenav partial div for whitespace -->
</div> <!-- do not delete: close sidenav partial div -->