<% provide(:title, "Dashboard") %>
<% provide(:page_description, "Eventually, this page will be 100% dynamically populated via a database. As of now, it is a combination of partial views and JavaScript. The idea behind this page (and website) was to create a reporting tool, with a reporting dashboard with an analytics style. I still have some work to do.") %>

<%= render 'shared/about_this_page' %>

	<div class="col-sm-6 col-md-6" id="personal-projects">
		<%= render 'projects/featured_projects' %>
	</div>

	<div class="col-sm-6 col-md-6" id="about-me">
		<%= render 'users/fun_facts' %>
	</div>

	<div class="col-sm-12 col-md-12">
		<%= render 'users/googlemap' %>
	</div>


