<% provide(:title, "Nate the Great") %>
<div class="row">
	<div class="col-md-12 hero-image">
		<%= image_tag('nate/nate-hero.jpg', class: 'hero-image') %>
	</div>
</div>

<br />

<div class="row">
	<div class="col-md-12 fb-page">
		<div class="fb-page" data-href="https://www.facebook.com/Nates-Journey-959860680733840/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-width="700" data-height="1500"></div>
	</div>
</div>