<% provide(:title, "Projects") %>

<div class="row">
	<div class="col-sm-12 col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading"><h4>What I like the most</h4></div>
			<div class="panel-body">My favorite projects include those that have a high solution architecture - where components are modularized and can be snapped in and out of projects with ease. I love to focus on efficieny with a high attention to detail. I love to templatize projects as much as possible to reduce inefficiencies.</div>
		</div>
	</div>
</div>
	<div class="row">
		<div class="col-sm-6 col-md-6">
			<%= render 'projects/mash' %>
		</div>
		<div class="col-sm-6 col-md-6">
			<%= render 'projects/chat' %>
		</div>
	</div>
</div>