<% provide(:title, "Spredfast API") %>

<style>
	.profile-image {
		top-margin: 20px;
	}

	.user-name {
		font-weight: bold;
		font-size: 14px;
		line-height: 18px;
		color: #292f33;
	}

	.user-screen-name {
		font-size: 14px;
		line-height: 18px;
		color: grey;
		font-weight: normal;
	}

	.content-text {
		font-size: 14px;
		line-height: 18px;
		color: #292f33;
	}
</style>

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<h1>Spredfast API: Some Fun!</h1>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<div class="header"><h2>My Stream</h2></div>
			<div class="stream-tools">
				<button id="load-stream">Load My Stream</button>
				<input type="text" name="search" id="search" placeholder="Search One Keyword">
				<button id="submit-search">Submit Search</button>
				<button id="reverse">Reverse Order</button>
			</div>
			<div class="stream-content"></div> <!-- Close stream content -->
		</div> <!-- Close column -->
	</div> <!-- Close row -->
</div> <!-- Close container -->


<script type="text/javascript">
$(function() {
	console.log("spredfast ready");

	// Load stream on click of button
	$('#load-stream').on('click', function(e) {
		e.preventDefault();
		$('.generic-load').html("Loading...");

		var jsonURI = "http://api.massrelevance.com/massreldemo/kindle.json";
		
		requestJSON(jsonURI, function(data) {
			if (data.message == "Not found") {
				alert("Something is wrong");
			} else {
				// console.log(data); // array of objects

				var streamData = [];
				// collect the information you want to work with
				for (var i = 0; i < data.length; i++) {
					streamData.push({
						createdAt: data[i].created_at,
						text: data[i].text,
						profileImage: data[i].user.profile_image_url,
						userName: data[i].user.name,
						screenName: data[i].user.screen_name
					});
				} // end for loop
				// console.log(streamData);
				output(streamData);

				function output(data) {
					$('.stream-content').html(data.map(function(value) {
					var output;
					output = "<div class='profile-image'><img src=" + value.profileImage + "/></div>";
					output = output + "<div class='user-name'>" + value.userName + "<span class='user-screen-name'>   @" + value.screenName + "   5h</div>";
					output = output + "<div class='content-text'>" + value.text + "</div>";
					output = output + "<div class='created-at'>" + value.createdAt + "</div>";
					output = output + '<hr />';
					// console.log(output);

					return output;
					}).join("")); // end stream-content jquery
				}
				
				$('#reverse').on('click', function() {
					streamData.reverse();
					output(streamData);
				}); // end reverse order

				// Keyword search functionality
				$('#submit-search').on('click', function() {
					var keyword = $('#search').val();

					if (keyword[0] == '#') {
						keyword = keyword.replace('#', '%23');
					}
					
					var searchURI = jsonURI + "?keywords=" + keyword;
					var searchStreamData = [];

					console.log(searchURI);
					console.log(searchStreamData);
						
					requestJSON(searchURI, function(data) {
						for (var i = 0; i < data.length; i++) {
							searchStreamData.push({
								createdAt: data[i].created_at,
								text: data[i].text,
								profileImage: data[i].user.profile_image_url,
								userName: data[i].user.name,
								screenName: data[i].user.screen_name
							});
						}
						console.log(searchStreamData);
						output(searchStreamData);
					});
				}); // End keyword search functionality
			} // end if statement
		}); // end requestJSON()
	}); // end load stream on-click
	

	// generic JSON request
	function requestJSON(url, callback) {
		$.ajax({
			url: url,
			complete: function(xhr) {
				callback.call(null, xhr.responseJSON);
			}
		});
	} // end generic JSON request

}); // end ready function
</script>