<% provide(:title, "Spredfast API") %>

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<h1>Spredfast API: Some Fun!</h1>
			<div class="homeArticlesData"></div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<div class="header"><h2>My Stream</h2></div>
			<button id="load-stream">Load My Stream</button>
			<input type="text" name="search" id="search" placeholder="Search"> 
			<div class="stream-content"></div> <!-- Close stream content -->
		</div> <!-- Close column -->
	</div> <!-- Close row -->
</div> <!-- Close container -->


<script type="text/javascript">
$(function() {
	console.log("spredfast ready");

	// Load stream on click of button
	$('#load-stream').on('click', function(e) {
		e.preventDefault();
		$('.generic-load').html("Loading...");

		var jsonURI = "http://api.massrelevance.com/massreldemo/kindle.json";
		
		requestJSON(jsonURI, function(data) {
			if (data.message == "Not found") {
				alert("Something is wrong");
			} else {
				// console.log(data); // array of objects

				var streamData = [];
				// collect the information you want to work with
				for (var i = 0; i < data.length; i++) {
					streamData.push({
						createdAt: data[i].created_at,
						text: data[i].text,
						profileImage: data[i].user.profile_image_url,
						userName: data[i].user.name,
						screenName: data[i].user.screen_name
					});
				}
				console.log(streamData);

				$('.stream-content').html(streamData.map(function(value) {
					var output;
					output = '<p>Created At Date: ' + value.createdAt + '</p>';
					output = output + '<img src=' + value.profileImage + '/>';
					output = output + '<p>Name: ' + value.userName + '</p>';
					output = output + '<p>Handle: @' + value.screenName + '</p>';
					output = output + '<p>' + value.text + '</p>'
					output = output + '<hr />';
					console.log(output);

					return output;
				}).join(""));
			}
		});
	}); // end load stream on-click

	// generic JSON request
	function requestJSON(url, callback) {
		$.ajax({
			url: url,
			complete: function(xhr) {
				callback.call(null, xhr.responseJSON);
			}
		});
	} // end generic JSON request

}); // end ready function
</script>