<div class="container">
	<div class="row"> <!-- Begin About -->
		<div class="col-md-12">
			<h1>Tableau API: Austin Restaurant Inspection Scores</h1>
			<h3>About This Page</h3>
				<ul>
					<li>Data Source: <%= link_to "data.austin.gov Restaurant Scores", "https://data.austintexas.gov/dataset/Restaurant-Inspection-Scores/ecmv-9xxi", target: "_blank"%></li>
					<li>After downloading the data, I prepared it for import into Tableau by modifying the address string using LEFT, RIGHT, MID, and SEARCH functions in Excel. This allowed me to separate the address and coordinates of the restaurants.</li>
				</ul>
			<h3>To Use this Chart</h3>
			<ol>
				<li>Filter by zip code by clicking the magnifying glass in the zip code filter and typing in the appropriate zip code number.</li>
				<li>Filter by restaurant by clicking the magnifying glass in the restaurant filter and typing in the appropriate name.</li>
				<li>Other filters: You may also filter by year or use the sliding bar to filter by inspection score.</li>
				<li>If applicable: drill down into the year to view quarterly and monthly data by clicking on the year, then clicking the plus (+) sign (drill down). Viewing this granularity is best after filtering by either resaurant or zip code.</li>

			</ol>
			<div id='tableauViz'></div>
		</div>
	</div>
</div>


