<div class="panel panel-primary">
	<div class="panel-heading">Fun Facts</div>
	<div class="panel-body">
		<button class="btn btn-primary" id="fun-facts">Click for a Fun Fact</button>
		<div class="fun-fact-list"></div>
	</div>
</div>

