<div class="panel panel-primary">
	<div class="panel-heading">Fun Facts</div>
	<div class="panel-body">
		<p>If nothing appears, please refresh the page. I'm working on a bug with JavaScript persisting when new views are loaded.</p>
		<button class="btn btn-primary" id="fun-facts">Click for a Fun Fact</button>
		<div class="fun-fact-list"></div>
	</div>
</div>

