<div class="panel panel-primary">
	<div class="panel-heading">Travel (not all locations are present)</div>
	<div class="panel-body" id="map"></div>
</div>

<script>
	var map;
	function initMap() {
		var austin = {lat: 30.267153, lng: -97.743061};
		var istanbul = {lat: 41.008238, lng: 28.978359};
		var newZealand = {lat: -45.031162, lng: 168.662644};
		var sicily = {lat: 37.507877, lng: 15.083030};
		var germany = {lat: 48.135125, lng: 11.581981};
		var rome = {lat: 41.902783, lng: 12.496366};
		var london = {lat: 51.507351, lng: -0.127758};
		var amsterdam = {lat: 52.370216, lng: 4.895168};
		var brussels = {lat: 50.850340, lng: 4.351710};
		var paris = {lat: 48.856614, lng: 2.352222};
		var salzburg = {lat: 47.809490, lng: 13.055010};
		var florence = {lat: 43.769560, lng: 11.255814};
		var greece = {lat: 37.500249, lng: 23.455073};

	  	map = new google.maps.Map(document.getElementById('map'), {
	   		center: austin,
	    	zoom: 2
	  	});

		var marker = new google.maps.Marker({
		    position: austin,
		    map: map,
		    title: 'Home'
		 });

		var marker = new google.maps.Marker({
		    position: istanbul,
		    map: map,
		    title: 'Turkey'
		 });

		var marker = new google.maps.Marker({
		    position: newZealand,
		    map: map,
		    title: 'New Zealand'
		 });

		var marker = new google.maps.Marker({
		    position: sicily,
		    map: map,
		    title: 'Sicily, Italy'
		 });

		var marker = new google.maps.Marker({
		    position: germany,
		    map: map,
		    title: 'Germany'
		 });

		var marker = new google.maps.Marker({
		    position: rome,
		    map: map,
		    title: 'Rome, Italy'
		 });

		var marker = new google.maps.Marker({
		    position: london,
		    map: map,
		    title: 'New England'
		 });

		var marker = new google.maps.Marker({
		    position: amsterdam,
		    map: map,
		    title: 'The Netherlands'
		 });

		var marker = new google.maps.Marker({
		    position: brussels,
		    map: map,
		    title: 'Belgium'
		 });

		var marker = new google.maps.Marker({
		    position: paris,
		    map: map,
		    title: 'France'
		 });

		var marker = new google.maps.Marker({
		    position: salzburg,
		    map: map,
		    title: 'Austria'
		 });

		var marker = new google.maps.Marker({
		    position: florence,
		    map: map,
		    title: 'Italy'
		 });

		var marker = new google.maps.Marker({
		    position: greece,
		    map: map,
		    title: 'Greece'
		 });
	}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmJ18HbLGUIMCEM5HB9uVgkZ-IPHYE4jo&callback=initMap"
        async defer></script>