<div class="col-sm-12 col-md-12">
	<div class="panel panel-primary">
		<div class="panel-heading">About This Page</div>
		<div class="panel-body">
			<p><%= about_page(yield(:page_description)) %></p>
		</div>
	</div>
</div>