<div class="panel panel-primary">
	<div class="panel-heading">MASH Game</div>
	<div class="panel-body">
		<%= image_tag("mash-app.png") %>
		<p><span class="strong">Description:</span> This was a group project that created a computer version of the popular (with eight-year-old girls) game of MASH. MASH predicts your life for you (the house you will own, the car you will drive, and the person you will marry) all at the click of a button!</p>
		<p><span class="strong">Technologies used:</span>
			<ul>
				<li>Ruby on Rails</li>
			</ul>
		</p>
		<p><span class="strong">The rose, the bud, and the thorn:</span>
			<ul>
				<li>Rose: My favorite aspect of this project was going a little crazy with storing "lives" based on themes to pull from a database. Who wouldn't want a celebrity- or presidential-themed life?</li>
				<li>Bud: I think it would be really fun to expand the game so your options are picked based on personality traits to prevent gaming the system to produce results in your favor.</li>
				<li>Thorn: The timeline was short, and the aspirations were big.</li>
			</ul>
		</p>
		<p><span class="strong">What I learned:</span></p>
	</div>
</div>