<% provide(:title, "Projects") %>

<p>This page will show one project</p>

<div class="panel panel-primary">
	<div class="panel-heading">Chat App</div>
	<div class="panel-body">
		<%= image_tag("chat-app.png") %>
		<p><span class="strong">Description:</span> I built this app over the course of many 5am mornings while in class. I was just really curious how sockets worked and wanted to build something useful.</p>
		<p><span class="strong">Technologies used:</span>
			<ul>
				<li>Node.js</li>
				<li>Sockets</li>
				<li>This very useful <a href="http://smithamilli.com/tuts/chat/part-one/" target="_blank">tutorial</a></li>
			</ul>
		</p>
		<p><span class="strong">The rose, the bud, and the thorn:</span>
			<ul>
				<li>Rose: I remember one morning, when I was very frustrated because I couldn't get anything to work, when finally I stumbled upon a tutorial that showed me how often sockets pinged the server. That was a pretty "mind blown" moment.</li>
				<li>Bud: I look forward to refactoring the code into a standard MVC model.</li>
				<li>Thorn: I went through A LOT of useless tutorials before I finally found one that worked and was easy to understand.</li>
			</ul>
		</p>
		<p><span class="strong">What I learned:</spans></p>
	</div>
</div>