/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0;
	color: #3a4b5a;
}

.container {
	width: 75%;
	margin: 0 auto;
}

.wrapper {
	margin-top: 20px;
	margin-bottom: 20px;
}

.center {
	text-align: center;
}

.hero {
	background-color: #4DBD33;
	margin-bottom: 30px;
}

.hero-wrapper {
	width: 70%;
	margin: 0 auto;
}

.hero-hi {
	line-height: 100%;
	font-size: 30em;
	color: #FFFFFF;
	font-weight: bold;
}

.hero-credentials {
	font-size: 3em;
	color: #FFFFFF;
	text-align: right;
	padding-top: 20px;
}

#hero-name {
	text-transform: uppercase;
	padding-left: 15px;
	padding-right: 15px;
}

#hero-title {
	text-transform: lowercase;
	padding-left: 15px;
	padding-right: 15px;
}

.interest-image {
	width: 100%;
	border: 1px solid #3a4b5a;
	margin: 10px;
}

.about-me {
	background-color: #3a4b5a;
	color: #FFFFFF;
	padding: 50px;
}

.about-me-copy {
	width: 80%;
	margin: 0 auto;
}

.about-me p {
	font-size: 1.5em;
}

.main-job {
	background-color: #abaeb3;
	color: #FFFFFF;
	padding: 10px;
	margin-top:15px;
}

.job {
	background-color: #699abc;
	color: #FFFFFF;
	padding: 20px;
	margin-top: 20px;
}

.education {
	background-color: #3ca380;
	color: #FFFFFF;
	padding: 20px;
	margin-top:20px;
}

.resume-skills {
	color: #FFFFFF;
	background-color: #3a4b5a;
	padding: 10px;
	text-align: center;
}

#skills-header {
	text-align: left;
	padding-bottom: 10px;
}
.resume-lang {
	margin: 5px;
	width: 10%;
	height: 150px;
}

.resume-lang-long {
	width: 30%;
	height: 150px;
}

.project-img-right {
	width: 50%;
	float: right;
	margin-left: 10px;
}

.project-img-div-left {
	width: 50%;
	float: left;
	padding-right: 10px;
	display: inline-block;
}

.project-img-left {
	width: 100%;
}

.about-project-right {
	float: right;
	display: inline-block;
	width: 50%;
}

.contact {
	text-align: center;
}

.social-icon {
	width: 5%;
	margin: 10px;
}

.hero-image {
	width: 100%;
}

.fb-page {
	text-align: center;
}

#nyt-articles {
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #699abc;
	border-radius: 25px;
	color: #FFFFFF;
}

.title {
	font-size: 1.5em;
}

.url a {
	color: #FFFFFF;
}