/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


* {
	box-sizing: border-box;
}

.container {
	width: 75%;
	margin: 0 auto;
}

.hero {
	background-color: #4DBD33;
}

.hero-hi {
	line-height: 100%;
	font-size: 30em;
	color: #FFFFFF;
	font-weight: bold;
}

.hero-credentials {
	font-size: 3em;
	color: #FFFFFF;
	text-align: right;
	padding-top: 20px;
}

#hero-name {
	text-transform: uppercase;
}

#hero-title {
	text-transform: lowercase;
}

.job-container {
	width: 100%;
}

.all-jobs {
	margin: 0 auto;
}

.job {
	margin: 10px;
	padding: 10px;
	color: #FFFFFF;
}

.main-job {
	background-color: #abaeb3;
	color: #FFFFFF;
}

.job-align-bottom {
	vertical-align: bottom;
	background-color: #699abc;
}

.job-align-top {
	vertical-align: top;
	background-color: #699abc;
}

.education {
	background-color: #3ca380;
}

.skills {
	background-color: #3a4b5a;
	text-align: center;
}

#skills-header {
	text-align: left;
}

.resume-lang {
	width: 10%;
	height: 150px;
	margin: 5px;
}

.resume-lang-long {
	width: 30%;
	height: 150px;
	margin: 5px;
}

.page-header {
    padding-bottom: 9px;
    margin: 0 0 20px;
    border-bottom: 1px solid #eeeeee;
}

.about-bold {
	font-weight: bold; 
	font-size: 1.2em;
}

#map {
	width: 100%;
    height: 500px;
}

.hero-background {
	position: relative;
	width: 100%;
}

.hero-image {
	opacity: 0.7;
}

.hero-copy {
	position: absolute;
	width: 100%;
	top: 450px;
	text-align: center;
}

.hero-copy h1 {
	font-size: 100px;
	color: #000000;
}

.fb-page {
	text-align: center;
}