<div class="wrapper"> <!-- Begin About: Blurb -->
	<div class="about-me">
		<div class="row">
			<div class="col-md-12">
				<div class="contact">
					<%= link_to image_tag("social/email.png", class: "social-icon"), "mailto:larissa.tater@gmail.com" %>
					<%= link_to image_tag("social/linkedin.png", class: "social-icon"), "https://www.linkedin.com/in/ltater", target: "_blank" %>
					<%= link_to image_tag("social/github.png", class: "social-icon"), "https://www.github.com/ltater", target: "_blank" %>
				</div>
			</div>
		</div>
	</div>
</div> <!-- End About: Blurb -->